html {
    font-size: 62.5%;
}
body {
    background-color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

.main_container {
    width: 100vw;
    margin: 0 auto;
}

.container {
    display: block;
    float: left;
    padding: 20px -20px 20px 20px;
    width: 100%;
    margin: 0 auto;
}

header {
    background: #fff;
    display: block;
    float: left;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #003F63;
}

header img {
    width: 20%;
}

h1 {
    font-size: 2.4rem;
    color: #770b0b;
    font-weight: 600;
    margin-bottom: 10px;
}

article img {
    width: 70%;
}

h3 {
    font-size: 2rem;
    color: #c93131;
    margin-bottom: 5px;
}

p {
    margin-bottom: 20px;
    line-height: 1.4;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    background-color: #ffffff;
    font-size: 1.5rem; /* equivalente 15px */
    display: block;
    float: left;
    width: 80%;
    padding: 20px;
}

section nav {
    display: block;
    float: left;
    width: 20%;
    
}

nav li {
    background-color: #ecde58;
    margin: 1px 20px 1px 0;
    padding: 10px;
}

nav li:hover {
    background-color: #ffffff;
}

nav a {
    text-decoration: none;
    color: #000000;
}

nav a:hover {
    color: #000000;
    font-weight: 600;
}

section article {
    display: block;
    float: left;
    width: 70%;
    
}

footer {
    background-color: #003F63;
    color: #ffffff;
    display: block;
    float: left;
    width: 100%;
    padding: 20px;
    font-size: 1.4rem;
}

footer small {
    font-size: 80%;
    display: block;
}

.cognito {
    height: 300px !important;
    overflow: hidden !important;
}

@media (max-width: 425px) {
    section nav,
    section article {
        width: 100%;
    }
    
    .container {
        padding-left: 1%;
        padding-right: 1%;
    }
    section nav {
        margin-bottom: 10px;
    }
}